</div>
<!-- body end -->
<!-- ejs code -->
<% var d = new Date();%>
<%var year = d.getFullYear(); %>
<!-- ejs code end -->
<footer>
    &copy; Copyright <%=year%> <i class="bi bi-wechat"></i> <%=brandName%>
    <ul class="footer-ul">
        <a href=""><li class="footer-ul-item">Privacy Policy</li></a>
        <a href=""><li class="footer-ul-item">Contact Us</li></a>
        <a href=""><li class="footer-ul-item">Report An Issue</li></a>
        <a href=""><li class="footer-ul-item">Recommend A Feature</li></a>
        <a href="/"><li class="footer-ul-item"><i class="bi bi-wechat" style="font-size:2rem;"></i> Socialite</li></a>
    </ul>
</footer>
</body>
</html>