</div>
<!-- body end -->
<!-- ejs code -->
<% var d = new Date();%>
<%var year = d.getFullYear(); %>
<!-- ejs code end -->
<footer>
    &copy; copyright <%=year%> <i class="bi bi-wechat"></i> <%=brandName%>
</footer>
</body>
</html>