<!doctype html>
<html>
    <head>
        <title>Social Network</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <!-- Header Start -->
      <header>
        <nav id="header-nav">
            <h3>Socialite</h3>
        </nav>
      </header>
      <!-- Header End -->