<%-include("partials/header", {location: "Home"});%>

<h3><i class="bi bi-collection"></i> News Feed</h3>
<div id="post-card">
    <div class="post-card-a">
        <div id="post-card-header">
            <img src="images/profile.jpg" alt="profile" class="profile-img-sm">
            <span id="author-profile-detail">Dada Clement</span></br>
            <span id="author-profile-detail">28 November 2022 12:23am <i class="bi bi-globe-asia-australia"> </i> </span>
            <button class="dottee"><i class="bi bi-three-dots"></i></button>
        </div></br>
        <p>Dada Clement updated his profile picture</p>
    </div>
    <img src="images/profile.jpg" alt="post-image" class="post-img">
</div>

<%-include("partials/footer", {brandName: "Socialite"});%>