<%-include("partials/header", {location: "Login", authenticated: authenticated});%>
<h3 class="login-pg-header-text"><i class="bi bi-lock icons"></i>Login</h3>

<%if(loginType == "username"){%>

<div class="login-form-container">
    <h4 id="sign-in-header">Sign In</h4>
    <div class="login-form-container-2">
        <form action="/login?type=username&url=<%=url%>" method="post" class="login-form">
            <label for="username" id="form-label">Username:</label>
            <input type="text" name="username" id="username">
            <label for="password" id="form-label">Password:</label>
            <input type="password" name="password" id="password">
            <button type="submit">Submit</button>
        </form>
    </div>
    <a href="/login-email"><p style="text-align: center;">Sign in with email instead</p></a>
    <a href="/forgot-password"><p style="text-align: center;">forgot password?</p></a>
    <p style="text-align: center;">need an account?
        <a href="/signup" style="text-decoration: underline;">Register</a>
    </p>
</div>

<%} else if(loginType == "email"){%>

<div class="login-form-container">
    <h4 id="sign-in-header">Sign In</h4>
    <div class="login-form-container-2">
        <form action="/login?type=email&url=<%=url%>" method="post" class="login-form">
            <label for="email" id="form-label">Email:</label>
            <input type="email" name="email" id="email">
            <label for="password" id="form-label">Password:</label>
            <input type="password" name="password" id="password">
            <button type="submit">Submit</button>
        </form>
    </div>
    <a href="/login"><p style="text-align: center;">Sign in with username instead</p></a>
    <a href="/forgot-password"><p style="text-align: center;">forgot password?</p></a>
    <p style="text-align: center;">need an account?
        <a href="/signup" style="text-decoration: underline;">Register</a>
    </p>
</div>

<%}%>
<%-include("partials/footer", {brandName: "Socialite"});%>