Registration Unsuccesful please try again. Redirecting in 5 seconds. Or click <a href=" /signup">here</a> to redirect manually.

<script>
    setTimeout(() => {
        window.location.replace("/signup");
    }, 5000);
</script>