/* style body and href elements */
body{
    background-color:cornflowerblue;
    margin: 0;
}
a{
    text-decoration: none;
    color: inherit;
}
/* header section*/
#header-nav{
    background-color: rgb(59, 117, 226);
    color: white;
    font-family: 'Courier New', Courier, monospace;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid white;
}
header{
    margin: 0;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 3;
}

/* website name style */
#brand-name{
    display: inline-block;
}

/* header navigiation ul list */
#header-nav-ul{
    display: inline-block;
    position: absolute;
    right: 1rem;
}
.header-nav-ul-item{
    display: inline-block;
    padding: 1rem;
    cursor: pointer;
}
/* on mouse hover */
.header-nav-ul-item:hover{
    background-color: black;
}
/* 2nd header navigation */
#second-header-nav{
    border-bottom: 1px solid white;
    background-color: cornflowerblue;
    position: inherit;
    top: 4.2rem;
    right: 0;
    left: 0;
}
#header-nav-2-ul{
    color: white;
    margin-left: 20%;
}
.header-nav-2-ul-item{
    display: inline-block;
    margin-left: 2rem;
    padding: 1rem;
    border-radius: 2rem;
    cursor: pointer;
}
/* on mouse hover */
.header-nav-2-ul-item:hover{
    background-color: white;
    color: black;
}
.header-nav-2-ul-item.active{
    background-color: white;
    color: black;
}
#header-bottom-spacing{
    background-color: cornflowerblue;
    padding: 3rem;
}

/* header section end */

/* footer section start */
footer{
    background-color: white;
    color: black;
    padding: 1rem;
    position: relative;
    bottom: 0;
    right: 0;
}
.footer-ul{
    display: inline-block;
    margin-left: 25%;
}
.footer-ul-item{
    display: inline-block;
    margin: 0 12px;
}
/* footer section end */

/* body section start */
/* for the rest of the body */
#body-content{
   margin: 15% 5% 5% 5%;
}
/* for posts or news feed */
.profile-img-sm{
    width: 2.2rem;
    border-radius: 50%;
    float:left;
}
#author-profile-detail{
 margin-left:12px;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: small;
}
.dottee{
    position: absolute;
    right: 53%;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.1rem;
    z-index: 1;
}
/* on mouse hover */
.dottee:hover{
    background-color: black;
    color: white;
    border-radius: 12px;
}
#post-card{
    border: 0.5px solid grey;
    border-radius: 15px;
    margin-right: 50%;
    margin-left: 1rem;
    background-color: white;
}
.post-card-a{
    padding: 1rem;
}
.post-img{
    width: 100%;
    border-radius: 15px;
}
#post-card-header{
    
}
/* for posts or news feed end */
/* for icons rendered on webpage */
.icons{
    margin: 0 7px 0 7px;
}
/* for all messages display area */
.chat-full-box{
    border-radius: 12px;
    border: 1px solid rgb(58, 57, 57);
    background-color: white;
    /* margin-right: 60%; */
    padding: 20px;
}
.chat-rec-box{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.chat-rec-box button{
    width: 100%;
    text-align: left;
    border: none;
    cursor: pointer;
    padding: 0.5rem;
    background-color: transparent;
    margin: 5px;
}
/* for general messages to see more messages*/
.see-more-button{
    width: 100%;
    text-align: start;
    border: none;
    padding: 15px;
    border-radius: 8px;
    margin: 3px;
    cursor: pointer;
    background-color: rgb(59, 117, 226);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:large;
}
/* on mouse hover*/
.see-more-button:hover{
    box-shadow: 2px 2px 5px 5px #888888;
}
/* for see more button icon */
.icon-b{
    margin-left: 90%;
}
.icon-c{
    
}
/* for all messages display area END */
/* for personal messages */
.ps-chat{
    border-radius: 12px;
    border: 1px solid rgb(58, 57, 57);
    background-color: white;
    /* margin-right: 60%; */
    padding: 20px;
}
.ps-chat-header{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 0;
    font-size: small;
}
.ps-chat-header.name{
    font-size: larger;
}
/* for personal messages end */
/* body section end */